@mixin flex($alignItems: null, $justifyContent: null) {
    display: flex;
    @if $alignItems {
        align-items: $alignItems;
    }
    @if $justifyContent {
        justify-content: $justifyContent;
    }
}

@mixin flex-center() {
    @include flex(center, center);
}

@mixin flex-column($alignItems: null, $justifyContent: null) {
    @include flex($alignItems, $justifyContent);
    flex-direction: column;
}

@mixin flex-column-center() {
    @include flex-center();
    flex-direction: column;
}
