@import 'styles/config.scss';

.avatar {
    width: 52px;
    min-width: 52px;
    height: 52px;
    border-radius: 100%;
    background: purple;
    border: 1px solid rgba(8, 12, 11, 0.1);
    @include flex-center;

    span {
        color: white;
        @include f-inter-bold(18);
    }
}
