@import 'styles/config.scss';

.avatar {
    border-radius: 100%;
    background: purple;
    border: 1px solid rgba(8, 12, 11, 0.1);
    @include flex-center;

    span {
        color: white;
        @include f-inter-bold(18);
    }

    &.size-lg {
        width: 52px;
        min-width: 52px;
        height: 52px;

        span {
            @include f-inter-bold(18);
        }
    }

    &.size-sm {
        width: 40px;
        min-width: 40px;
        height: 40px;

        span {
            @include f-inter-bold(16);
        }
    }
}
